{% extends 'admin/base.html' %}

{% block title %}Product View{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="{% url 'ProductContent' %}">Product / List</a></li>
            <li class="breadcrumb-item active">View</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Product View</h3>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">Attribute</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                      <td>Title</td>
                      <td>{{ product.title }}</td>
                    </tr>
                    <tr>
                      <td>Slug</td>
                      <td>{{ product.slug }}</td>
                    </tr>
                    <tr>
                      <td>Image</td>
                      <td>{{ product.image }}</td>
                    </tr>
                    <tr>
                      <td>Meta Title</td>
                      <td>{{ product.meta_title }}</td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                      <td>Stock</td>
                      <td>{{ product.stock }}</td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{ product.status }}</td>
                    </tr>
                    <tr>
                      <td>Created At</td>
                      <td>{{ product.created }}</td>
                    </tr>
                    <tr>
                      <td>Updated</td>
                      <td>{{ product.updated }}</td>
                    </tr>
                    <tr>
                      <td>Category Id</td>
                      <td>{{ product.category_id }}</td>
                    </tr>
                    <tr>
                      <td>Subcategory Id</td>
                      <td>{{ product.subcategory_id }}</td>
                    </tr>
    
                  </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}