{% extends "admin/base.html"%}


{% block title %}Add Category{% endblock %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a href="{% url 'CategoryContent' %}">Category / List</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="card card-default">
    <div class="card-header">
      <h2 class="card-title">Category</h2>
      
    </div>
    <div class="card-body">
      
        <form action="" method="POST" enctype="multipart/form-data" id="myMessage"> 
            {% csrf_token %}

            {{cat}}

            <div class="form-group">
              {{ form }}
            </div>
            
            <button type="submit" class="btn btn-success" id="submit"><i class="fa fa-plus" aria-hidden="true"></i> Submit</button>

        </form>
    </div>
   
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function (e) {
    $("#id_title").blur(function (e) {
        var isDisabled = $('#id_slug').prop('disabled');
        if (!isDisabled) {
            $('#id_title').val($.trim($('#id_title').val()));
            var title = $('#id_title').val();
            var forSuggestTitle = title;
            title = title.toLowerCase();
            title = title.trim();
            var shortwords = /\b()\b/g;
            title = title.replace(shortwords, function (fullmatch, badword) {
                return new Array(badword.length + 1).join('');
            });
            title = title.replace(/[^a-zA-Z0-9]/g, '-');
            title = title.replace(/(-){2,}/g, '-');
            title = title.replace(/-$/g, '');
            title = title.replace(/(^\s*-)|(,\s*$)/g, '');
                    //update the value with new seo url
                    $("#id_slug").val(title);
                }
            });
  });


</script>

{% endblock content %}